@media (max-width: 767px) {

.homepage {
    background-image: linear-gradient(rgb(4, 95, 98), rgb(77, 113, 113));
    color:rgb(231, 231, 231);
    height: 300px;
    width: 50%;
        
    }

}

.homepage {
    background-image: linear-gradient(rgb(4, 95, 98), rgb(77, 113, 113));
    color: rgb(231, 231, 231);
    height: 30vh; 
    width: 100%;
}



.homepage h1,
.homepage p{
    font-family: 'Times New Roman';
}

.title{
    float: left;
    margin-left: 20px;
}

.links {
    margin-left: 700px;
    padding: 20px;
    font-weight: 50px;
}

.links a{
    text-decoration: none;
    color: white;
    font-size: larger;

}
.links a:hover{
    background-color: white;
    color: teal;
    font-size: 20px;
    border-radius: 5px 0px 0px 5px;
    padding: 10px;
}
.mentorspace{
    background-color: rgb(243, 243, 243);
    height: 400px;
    width: 100%;
}

.mentorspace h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:40px;
    color: teal;
    
}

.mentorspace img{
    width: 150px;
    height: 120px;
    border-radius: 50%;
}

.mentor1 {
    margin-left: 10%;

}

.mentor2 {
    margin-left: 450px;
    margin-top: -250px;

}
.mentor3 {
    margin-left: 700px;
    margin-top: -250px;

}
.mentor4{
    margin-left: 950px;
    margin-top: -255px;


}

.about{
    height: 400px;
    width: 100%;

}
.about h2{
    text-align: center;
    color: teal;
    font-size: 40px;
}
.about h4{
    color:teal;
}
.about img{
    width:20px;
    height: 20px;
    border: 50%;
}

.m1, .m2, .m3 {
    width: 200px;
    height: 200px;
}

.m1{
    margin-left: 250px;
    margin-top: 50px;
}
.m2{
    margin-left: 500px;
    margin-top: -220px;

}
.m3{
    margin-left: 750px;
    margin-top: -220px;
}

.mentorForm{
    height: 450px;
    width: 100%;
    background-color:  rgb(243, 243, 243);
}
.mentorForm h2{
    text-align: center;
    padding:20px;
    color: rgb(1, 76, 76);
}
 form{

    font-size: 20px;
 }

 .form{
    margin-left: 500px;
 }

input{
    padding: 10px;
    border-radius: 5px;
}

.submit{
    background-color: teal;
    color: white;
    font-size: 30px;
}

footer{
    background-color: rgb(21, 38, 38);
    color: white;
    height: 200px;
    width: 100%;

}


footer p {
    margin-left: 10%;
    margin-top: 5vh; 
}
